@CHARSET "ISO-8859-1";

#user_panel {
	width: 300px;
	height: 600px;
	display: inline-block;
}
#robot_panel {
	width: 300px;
	height: 600px;
	display: inline-block;
}
#caro_table {
	width: 650px;
	height: 630px;
	display: inline-block;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: silver;
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: silver;
}
.table_row {
	width: 650px;
	height: 20px;
	border-top-style: solid;
	border-top-width: thin;
	border-color: silver;
}

.table_cell{
	width: 20x;
	height: 20px;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: silver;
	display: inline-block;
}
.row_title{
	width: 20x;
	padding-top: 4px;
	height: 16px;
	display: inline-block;
	font-size: 10;
	font-style: italic;
	background-color: darkgray;
	text-align: center;
	position: absolute;
}
.collumn_title{
	width: 21x;
	padding-top: 4px;
	height: 16px;
	display: inline-block;
	font-size: 10;
	font-style: italic;
	background-color: darkgray;
	text-align: center;
	position: relative;
    top: 0px;
    left: 20px;
    border-right-style: solid;
	border-right-width: thin;
	border-right-color: silver;
}

.user-flag {
	width: 20px;
	height: 21px;
	text-align: center;
	color: green;
	display: inline-block;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.robot-flag {
	width: 20px;
	height: 21px;
	text-align: center;
	color: red;
	display: inline-block;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.avatar {
	display: inline;
	width: 200px;
	height: 200px;
}